/*-----------------------------------*\
  #font.css
\*-----------------------------------*/

/**
 * copyright 2022 codewithsadee
 */



/**
 * SHADOWS INTO LIGHT
 */

@font-face {
  font-family: "Shadows Into Light";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Shadows Into Light"),
        url("./shadows-into-light/shadows-into-light-regular.woff2");
}



/**
 * MONTSERRAT
 */

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: local("Montserrat"),
        url("./montserrat/montserrat-regular.woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: local("Montserrat Medium"),
        url("./montserrat/montserrat-medium.woff2");
}

@font-face {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: local("Montserrat Bold"),
        url("./montserrat/montserrat-bold.woff2");
}